@font-face {
  font-family: "Cocogoose";
  src: url("/css/fonts/cocogoose/Cocogoose_trial.otf");
  font-family: "lato";
  src: url("/css/fonts/lato/Lato-Regular.ttf");
}

@media only screen and (min-width: 768px) {
  body {
    margin: 0;
    max-width: 100%;
    font-family: "lato", "Arial", sans-serif;
  }

  h2 {
    font-family: "Cocogoose", "Arial", sans-serif;
  }

  h3 {
    font-family: "Cocogoose", "Arial", sans-serif;
    font-size: 24px;
    color: #4f4f4f;
  }

  h4 {
    font-family: "lato", "Arial", sans-serif;
    font-size: 18px;
    color: #4f4f4f;
  }

  hr {
    width: 60px;
    text-align: center;
    margin-top: 20px;
    border-color: #ec5242;
  }

  header {
    max-width: inherit;
  }

  /* Design of the grey banner  */
  .black-banner-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    max-width: 100%;
    padding: 10px 80px 10px 80px;
    background-color: #3e3e3e;
    color: white;
  }

  .black-banner-items a {
    color: white;
    font-size: 16px;
    padding-left: 1.5em;
    text-decoration: none;
  }

  /* Design of the white banner  */
  .white-banner {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 10px 80px 10px 15vw;
    background-color: white;
    align-items: center;
  }

  .white-banner a {
    padding-right: 3em;
    text-decoration: none;
    color: #272a31;
  }

  .white-banner a:hover {
    color: #ec5242;
  }

  .logo-container {
    width: 4em;
    height: 4em;
    float: left;
  }

  .logo {
    width: inherit;
  }

  .header-button {
    color: #ec5242;
    background-color: white;
    padding: 10px;
    border: 3px solid #ec5242;
    border-radius: 2px;
  }

  .header-button:hover {
    color: white;
    background-color: #ec5242;

  }

  .welcome-screen {
    background-image: url("/ressources/images/header-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .white-overlay {
    background-color: rgba(255, 255, 255, 0.8);
    height: inherit;
  }

  .welcome-text {
    padding: 10vw 30vw 10vw 15vw;
  }

  .welcome-user {
    font-size: 40px;
    margin: 0;
    color: #ec5242;
  }

  .page-title {
    font-size: 60px;
    margin: 0;
    color: #ec5242;
    text-transform: uppercase;
  }

  .event-intro {
    border: 1px solid white;
    background: rgba(247, 247, 247, 0.5);
    max-width: 80%;
    padding: 10px;
  }

  .main-program {
    background-image: url("/ressources/images/program-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
  }

  .program-details {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .program-card {
    background-color: rgba(66, 70, 80, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 2px 20px 2px;
    padding: 20px 5px;
    width: 180px;
    border: 2px solid rgba(66, 70, 80, 0.8);
  }

  .program-card:hover {
    border: 2px solid white;
    background-color: rgba(66, 70, 80);
  }

  .program-icon {
    max-width: 60px;
  }

  .program-title {
    text-align: center;
    color: #ec5242;
    font-size: 24px;
    margin: 10px;
  }

  .program-text {
    text-align: center;
    font-size: 12px;
    margin: 0 10px 0 10px;
    color: white;
  }

  .title {
    text-align: center;
    font-size: 24px;
    margin: 0;
    padding-top: 40px;
  }

  .white-text {
    color: white;
  }

  .program-see-more {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    margin: 0;
    padding-top: 40px;
  }

  .featured {
    margin-bottom: 80px;
  }

  .speakers-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .speaker-card {
    display: flex;
    max-width: 40%;
    margin: 10px;
    border-radius: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
  }

  .speaker-card:hover {
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.2)
  }
  .grey-bg {
    max-width: 80px;
  }

  .grey-bg:hover {
    transform: rotate(360deg);
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
  }

  .speaker-picture {
    max-width: 130px;
    margin-left: 30px;
    margin-top: -50px;
    margin-right: 20px;
  }

  .speaker-text-container h4 {
    font-size: 24px;
  }

  .speaker-text-container h5 {
    font-size: 14px;
    color: #ec5242;
  }

  .speaker-text-container p {
    font-size: 12px;
    padding: 0;
  }

  .partners {
    background-color: #414245;
  }

  .partner-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .partner-logo {
    width: 100px;
    height: 60px;
    object-fit: contain;
  }

  .transparent {
    color: rgba(255, 255, 255, 0.6);
  }

}
